# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Node
node_modules/
.next/
out/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Systems
.DS_Store
Thumbs.db

# Docker
.docker/
